<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7c2a6">  <td>19/03/19 09:09:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginPage_TestCase.setup()[pri:0, instance:TestCase.LoginPage_TestCase@204f30ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/03/19 09:09:13</td>   <td>11673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_TestCase.validatelogin(java.lang.String, java.lang.String)[pri:0, instance:TestCase.LoginPage_TestCase@204f30ec]">validatelogin</td> 
  <td>main@230835489</td>   <td></td> </tr>
</table>
