<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>19/03/21 08:38:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_TestCase.TestCase2()[pri:0, instance:TestCase.LoginPage_TestCase@f6c48ac]">TestCase2</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/03/21 08:38:24</td>   <td>6819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_TestCase.TestCase2()[pri:0, instance:TestCase.LoginPage_TestCase@4566e5bd]">TestCase2</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/03/21 08:38:17</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_TestCase.TestCase3()[pri:0, instance:TestCase.LoginPage_TestCase@f6c48ac]">TestCase3</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/03/21 08:38:24</td>   <td>6824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_TestCase.TestCase3()[pri:0, instance:TestCase.LoginPage_TestCase@4566e5bd]">TestCase3</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/03/21 08:38:12</td>   <td>-5638</td> <td>&nbsp;</td><td title="&gt;&gt;LoginPage_TestCase.setup()[pri:0, instance:TestCase.LoginPage_TestCase@f6c48ac]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/03/21 08:38:18</td>   <td>1342</td> <td>&nbsp;</td><td title="&gt;&gt;LoginPage_TestCase.setup()[pri:0, instance:TestCase.LoginPage_TestCase@4566e5bd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/03/21 08:38:18</td>   <td>677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_TestCase.validatelogin(java.lang.String, java.lang.String)[pri:0, instance:TestCase.LoginPage_TestCase@f6c48ac]">validatelogin</td> 
  <td>main@174573182</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/03/21 08:38:24</td>   <td>6917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_TestCase.validatelogin(java.lang.String, java.lang.String)[pri:0, instance:TestCase.LoginPage_TestCase@4566e5bd]">validatelogin</td> 
  <td>main@174573182</td>   <td></td> </tr>
</table>
